/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Parametros generales */
body {
    background-color: #C49400;
}


header {
    height: 40vh;
    display: flex;
    justify-content: center;
    background-color: #000000;
}

.logo img {
    margin: 3rem;
    height: 30vh;
}

main div img {
    width: 100%;
    height: 100%;

}

/* Mobile */

/* Cofiguración de html index*/

.index {
    height: 70vh;
    margin: 1.8rem 1.8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 20%);
    row-gap: 2rem;
    align-content: center;

}

.index img {

    object-fit: contain;

}

/* Configuracion de html Menú */
.carta {
    height: 70vh;
    margin: 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 17%);
    row-gap: 2.5rem;
    align-content: center;

}

.carta img {

    object-fit: cover;

}

.carta h2 {
    color: #000;
    text-align: center;
}

/* Configuracion de html Ubicacion */

.mapa {
    width: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 0.1rem;
}

main .ubicacion h1 {
    text-align: center;
    color: #000;
}

/* configuracion de html galeria */
.galeria img {

    object-fit: cover;

}

.galeria {
    height: 70vh;
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    row-gap: 2.5rem;
    align-content: center;
}

/* configuracion de html contacto */

.redes img {
    object-fit: contain;
}

.redes {
    height: 70vh;
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    row-gap: 2.5rem;
    align-content: center;
}

/* estilos de footer */

footer {
    text-align: center;
    justify-items: center;
    margin: 2rem;
}

/* Estilos desktop */

@media screen and (min-width: 1024px) {

    /* adaptacion a desktop html Menú */
    .carta {
        grid-template-columns: 1fr repeat(3, 1fr);
        grid-template-rows: 0.5fr;
        column-gap: 1rem;
    }

    /* adaptacion a desktop html ubicación */
    .mapa {
        margin: 2rem 9rem;
        width: 80%;
    }

    /* adaptacion a desktop html galeria */
    .galeria {
        grid-template-columns: 1fr repeat(2, 1fr);
        grid-template-rows: 0.5fr;
        column-gap: 1rem;
    }

    /* adaptacion a desktop html Contacto */
    .redes{
       width: 60%;
        grid-template-columns: 1fr repeat(2,1fr);
        grid-template-rows: 1fr;
        column-gap: 8rem;
        margin: 1rem 15rem;
    }



}